<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">
<generatorConfiguration>

	<context id="honglingjun" targetRuntime="MyBatis3">

        <property name="autoDelimitKeywords" value="true"/>
        <property name="beginningDelimiter" value="`"/>
        <property name="endingDelimiter" value="`"/>
        <property name="javaFileEncoding" value="UTF-8"/>

		<jdbcConnection
			driverClass="com.mysql.jdbc.Driver" 
			connectionURL="jdbc:mysql://139.196.188.73:3306/fundstore"
			userId="jiushini"
			password="jiushini" />

		<javaTypeResolver>
            <property name="forceBigDecimals" value="false"/>  
        </javaTypeResolver>

		<javaModelGenerator targetPackage="com.cq.sdk.test.dao.entity" targetProject="CQ-sdk-service/src/main/java">
			<property name="enableSubPackages" value="true"/>
            <property name="trimStrings" value="false"/>
        </javaModelGenerator>
      <sqlMapGenerator targetPackage="mapper" targetProject="CQ-sdk-service/src/main/resources">
            <property name="enableSubPackages" value="true"/>
    </sqlMapGenerator>
       <javaClientGenerator type="XMLMAPPER" targetPackage="com.cq.sdk.test.dao" targetProject="CQ-sdk-service/src/main/java">
            <property name="enableSubPackages" value="true"/>
        </javaClientGenerator>
        <table tableName="LoginAccount" >
        </table>
	</context>

</generatorConfiguration>